@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");

@mixin flexCenter($justify, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
  flex-wrap: wrap;
}

.SearchExercises {
  width: 100%;
  @include flexCenter(center, column);
  margin-top: 50px;
  .heading {
    h1 {
      // font-family: "Bungee", cursive;
      // font-family: "Michroma", sans-serif;
      // font-family: "Alegreya";
      font-size: 50px;
      font-family: "Gemunu Libre", sans-serif;
      text-transform: capitalize;
      text-align: center;
      color: #5b5271;
      word-spacing: 10px;
    }
  }
  .input {
    // border: 2px solid red;
    @include flexCenter(center, row);
    width: 90%;
    input {
      padding: 1rem;
      width: 70%;
      border: 2px solid #8d5185;
      color: #5b5271;
      font-size: 20px;
      &::placeholder {
        // color: rgb(108, 107, 107);
        color: #5b5271;

        font-size: 20px;
      }
      &:focus {
        // border: none;
        outline: none;
        border-radius: 5px;
      }
    }
    button {
      cursor: pointer;
      padding: 1rem;
      width: 170px;
      // background-color: rgb(40, 40, 40);
      background-color: #453a60;
      color: white;
      font-size: 20px;
      border: none;
      position: relative;
      left: -3px;
      cursor: pointer;
      border: 2px solid #453a60;
      border-left: none;

      //   margin-top: 2px;
    }
  }
  .allCategory {
    // @include flexCenter(center, column);
    position: relative;
    border: 1px solid green;
    width: 85%;
    // display: flex;
    // flex-wrap: wrap;
    margin: 60px 30px;
  }
}
::-webkit-scrollbar {
  width: 0px;
}

@media screen and (max-width: 600px) {
  .SearchExercises {
    .heading {
      h1 {
        font-size: 30px;
      }
    }
    .input {
      // border: 2px solid red;
      @include flexCenter(center, row);
      width: 95%;
      input {
        padding: 1rem 0.5rem;
        width: 60%;
        &::placeholder {
          color: rgb(108, 107, 107);
        }
      }
      button {
        width: 110px;
      }
    }
  }
}
