@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap");

@mixin flexCenter($justify, $direction) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}
.exerciseFromYoutube {
  @include flexCenter(flex-start, column);
  // border: 4px solid green;
  .heading {
    h1 {
      margin: 10px 0;
      color: #514866;
      font-family: "Cookie", cursive;
      font-size: 30px;
      padding: 1rem;
      span {
        font-family: "Diplomata SC", cursive;
        font-size: 40px;
        padding: 0 1rem;
      }
    }
  }
  .allExerciseFromYoutube {
    // border: 1px solid red;
    @include flexCenter(center, row);
    a {
      // border: 1px solid green;
      width: 300px;
      text-decoration: none;
      color: black;
      margin: 30px;
      &:hover {
        transform: scale(1.02, 1.02);
      }
      .image {
        // border: 3px solid purple;
        img {
          width: 100%;
          height: 220px;
          object-fit: cover;
          border-radius: 20px;
          box-shadow: 0 0 3px 1px #dbd8e0;
        }
      }
      .titleAndChannelName {
        @include flexCenter(flex-start, column);
        align-items: flex-start;
        margin-left: 20px;
        span {
          font-size: 20px;
          padding: 0.3rem;
          font-weight: bold;
          font-family: "Cormorant", serif;
          color: #5a5072;
        }
        small {
          font: 16px;
          padding: 0.3rem;
          font-weight: 600;
          color: #493f61;
          font-family: "Cormorant", serif;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .exerciseFromYoutube {
    @include flexCenter(flex-start, column);
    // border: 4px solid green;
    .heading {
      h1 {
        font-size: 22px;
        span {
          font-size: 25px;
        }
      }
    }
    .allExerciseFromYoutube {
      // border: 1px solid red;
      @include flexCenter(center, row);
      a {
        // border: 1px solid green;
        width: 300px;
        text-decoration: none;
        color: black;
        margin: 30px;
        &:hover {
          transform: scale(1.02, 1.02);
        }
        .image {
          // border: 3px solid purple;
          img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0 0 3px 1px #dbd8e0;
          }
        }
        .titleAndChannelName {
          @include flexCenter(flex-start, column);
          align-items: flex-start;
          margin-left: 20px;
          span {
            font-size: 20px;
            padding: 0.3rem;
            font-weight: bold;
            font-family: "Cormorant", serif;
            color: #5a5072;
          }
          small {
            font: 16px;
            padding: 0.3rem;
            font-weight: 600;
            color: #493f61;
            font-family: "Cormorant", serif;
          }
        }
      }
    }
  }
}
