@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap");

@mixin flexCenter($justify, $direction) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}
.similarExercise {
  @include flexCenter(flex-start, column);

  align-items: flex-start;
  margin: 20px auto;
  position: relative;
  width: 90%;

  .heading {
    h1 {
      font-size: 30px;
      margin: 10px 20px;
      padding: 0 0.3rem;
      font-family: "Cookie", cursive;
      color: #514866;
      padding: 1rem;
      span {
        // color: red;
        font-family: "Diplomata SC", cursive;
        padding: 0 1rem;
      }
    }
  }
  .allExercises {
    position: relative;
    width: 98%;
    margin: 0 auto;
    .Exercise {
      border-bottom: 2px solid #867ca0;

      margin: 20px;
      padding: 0.5rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.02, 1.02);
      }
      .image {
        img {
          width: 320px;
          height: 250px;
          object-fit: cover;
        }
      }

      .texts {
        button {
          background-color: white;
          border: none;
          border: 2px solid #b2a9c8;
          font-size: 20px;
          padding: 0.5rem 0.6rem;
          margin-left: 15px;
          border-radius: 10px;
          color: #564b71;
          text-transform: capitalize;
        }
      }
      .description {
        font-size: 20px;
        margin-left: 20px;
        color: #4d465d;
        text-transform: capitalize;
        font-family: "Orbitron", sans-serif;
      }
    }
  }
}
.similarExercise {
  .react-horizontal-scrolling-menu--inner-wrapper {
    // height: 500px;
    padding: 1rem 1rem;
    // border: 2px solid red;
  }
}
@media screen and (max-width: 600px) {
  .Exercises {
    width: 100%;
    .heading {
      h1 {
        font-size: 25px;
        margin: 10px 20px;
        padding: 0 0.3rem;
      }
    }
    .allExercises {
      @include flexCenter(center, row);

      .Exercise {
        margin: 10px;
        .image {
          img {
            width: 300px;
          }
        }
        .texts {
          button {
            font-size: 16px;
            padding: 0.3rem 0.5rem;
          }
        }
        .description {
          font-size: 18px;
        }
      }
    }
  }
}
::-webkit-scrollbar {
  width: 0px;
}
.leftArrow {
  @include flexCenter(center, row);
  cursor: pointer;
  height: fit-content;
  img {
    border: 2px solid #453a60;
    padding: 0.3rem;
    transform: rotateY(180deg);

    border-radius: 50%;
  }
}
.rightArrow {
  @extend .leftArrow;
  img {
    transform: rotateY(360deg);
  }
}
@media screen and (max-width: 700px) {
  .similarExercise {
    .allExercises {
      .react-horizontal-scrolling-menu--inner-wrapper {
        padding: 2rem 0;
        padding-bottom: 3rem;
        .leftArrow {
          @include flexCenter(flex-start, row);
          position: relative;
          background-color: white;
          padding: 3rem 0;
          img {
            background-color: white;
            z-index: 1;
            position: absolute;
            top: 410px;
            left: 10px;
          }
        }
        .rightArrow {
          @include flexCenter(flex-start, row);
          position: relative;
          background-color: white;
          padding: 3rem 0;
          img {
            background-color: white;
            z-index: 1;
            position: absolute;
            top: 410px;
            left: -230px;
          }
        }
      }
    }
  }
}
