@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

@mixin flexCenter($justify, $direction) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}
.Exercises {
  @include flexCenter(flex-start, column);
  align-items: flex-start;
  // border: 1px solid green;
  width: 90%;
  .heading {
    // border: 1px solid purple;
    margin: 20px 20px;
    h1 {
      padding: 0 0.3rem;
      font-family: "Cinzel", serif;
      color: #564b71;
      font-size: 40px;
    }
  }
  .allExercises {
    // width: 100%;
    @include flexCenter(center, row);
    // border: 3px solid red;

    .Exercise {
      border-bottom: 2px solid #867ca0;
      // border-top: 4px solid #867ca0;
      //   border-bottom: 3px solid rgb(93, 127, 160);
      // box-shadow: 0 0 3px 2px #e5e1ef inset;
      margin: 20px;
      padding: 0.5rem;
      // border-radius: 0 0px 20px 20px;
      .image {
        img {
          width: 320px;
        }
      }
      .texts {
        button {
          background-color: white;
          border: none;
          border: 2px solid #b2a9c8;
          font-size: 20px;
          padding: 0.5rem 0.6rem;
          margin-left: 15px;
          border-radius: 10px;
          color: #564b71;
          text-transform: capitalize;
        }
      }
      .description {
        font-size: 20px;
        margin-left: 20px;
        color: #4d465d;
        text-transform: capitalize;
        font-family: "Orbitron", sans-serif;
      }
    }
  }
  .pagination {
    width: 100%;
    margin: 50px 0;
    @include flexCenter(center, row);
    .paginationComponent {
      //   width: 70%;
      //   border: 2px solid red;
      margin: 0 auto;
      @include flexCenter(center, row);
      // color: #4d465d;
    }
  }
}

@media screen and (max-width: 600px) {
  .Exercises {
    width: 100%;
    .heading {
      h1 {
        font-size: 25px;
        margin: 10px 20px;
        padding: 0 0.3rem;
      }
    }
    .allExercises {
      @include flexCenter(center, row);

      .Exercise {
        margin: 10px;
        .image {
          img {
            width: 300px;
          }
        }
        .texts {
          button {
            font-size: 16px;
            padding: 0.3rem 0.5rem;
          }
        }
        .description {
          font-size: 18px;
        }
      }
    }
    .pagination {
      width: 100%;
      @include flexCenter(center, row);
      .paginationComponent {
        width: 80%;
        // border: 2px solid red;
        margin: 0 auto;
      }
    }
  }
}
