@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");

@mixin flexCenter($justify, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
  flex-wrap: wrap;
}

.NavBar {
  width: 50%;
  @include flexCenter(space-around, row);
  .logo {
    margin-left: 7px;
    margin-right: 20px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
  .link {
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid rgb(103, 103, 103);
    padding: 0.2rem;
    button {
      background-color: white;
      font-size: 20px;
      border: none;
      cursor: pointer;
      font-family: "Fascinate Inline";
    }
  }
  .activeLink {
    @extend .link;
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .NavBar {
    width: 100%;
    @include flexCenter(space-around, row);
    .logo {
      margin-left: 0px;
      margin-right: 15px;
      img {
        width: 90px;
        height: 90px;
        object-fit: cover;
      }
    }
    .link {
      button {
        font-size: 18px;
      }
    }
  }
}
